satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/catalogos/HidrocarburosPetro/catHidroYPetro.xsd

<xs:schema xmlns:catHidroOPetro="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/HidrocarburosPetro" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/HidrocarburosPetro" elementFormDefault="unqualified" attributeFormDefault="unqualified"><xs:simpleType name="c_TipoPermiso"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="PER01"/><xs:enumeration value="PER02"/><xs:enumeration value="PER03"/><xs:enumeration value="PER04"/><xs:enumeration value="PER05"/><xs:enumeration value="PER06"/><xs:enumeration value="PER07"/><xs:enumeration value="PER08"/><xs:enumeration value="PER09"/><xs:enumeration value="PER10"/><xs:enumeration value="PER11"/></xs:restriction></xs:simpleType><xs:simpleType name="c_ClaveHYP"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="15101505"/><xs:enumeration value="15101514"/><xs:enumeration value="15101515"/></xs:restriction></xs:simpleType><xs:simpleType name="c_SubProductoHYP"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SP16"/><xs:enumeration value="SP17"/><xs:enumeration value="SP18"/><xs:enumeration value="SP19"/><xs:enumeration value="SP22"/><xs:enumeration value="SP23"/><xs:enumeration value="SP24"/><xs:enumeration value="SP25"/><xs:enumeration value="SP48"/></xs:restriction></xs:simpleType></xs:schema>