satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/psgecfd/psgecfd.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:psgecfd="http://www.sat.gob.mx/psgecfd" targetNamespace="http://www.sat.gob.mx/psgecfd" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="PrestadoresDeServiciosDeCFD"><xs:complexType><xs:attribute name="nombre" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="rfc" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="12"/><xs:maxLength value="13"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="noCertificado" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:length value="20"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="fechaAutorizacion" use="required"><xs:simpleType><xs:restriction base="xs:dateTime"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="noAutorizacion" use="required"><xs:simpleType><xs:restriction base="xs:integer"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="selloDelPSGECFD" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>