satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/iedu/iedu.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:iedu="http://www.sat.gob.mx/iedu" targetNamespace="http://www.sat.gob.mx/iedu" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="instEducativas"><xs:complexType><xs:attribute name="version" use="required" fixed="1.0"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="nombreAlumno" use="required"><xs:simpleType><xs:restriction base="xs:string"/></xs:simpleType></xs:attribute><xs:attribute name="CURP" type="iedu:tCURP" use="required"/><xs:attribute name="nivelEducativo" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="Preescolar"/><xs:enumeration value="Primaria"/><xs:enumeration value="Secundaria"/><xs:enumeration value="Profesional técnico"/><xs:enumeration value="Bachillerato o su equivalente"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="autRVOE" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="rfcPago" type="iedu:tRFC" use="optional"/></xs:complexType></xs:element><xs:simpleType name="tRFC"><xs:restriction base="xs:string"><xs:minLength value="12"/><xs:maxLength value="13"/><xs:whiteSpace value="collapse"/><xs:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?"/></xs:restriction></xs:simpleType><xs:simpleType name="tCURP"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:length value="18"/><xs:pattern value="[A-Z][A,E,I,O,U,X][A-Z]{2}[0-9]{2}[0-1][0-9][0-3][0-9][M,H,X][A-Z]{2}[B,C,D,F,G,H,J,K,L,M,N,Ñ,P,Q,R,S,T,V,W,X,Y,Z]{3}[0-9,A-Z][0-9]"/></xs:restriction></xs:simpleType></xs:schema>