satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/TimbreFiscalDigital/TimbreFiscalDigitalv11.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" xmlns:tdCFDI="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/tipoDatos/tdCFDI" schemaLocation="../tipoDatos/tdCFDI/tdCFDI.xsd"/><xs:element name="TimbreFiscalDigital"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.1"/><xs:attribute name="UUID" use="required" id="UUID"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:length value="36"/><xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="FechaTimbrado" use="required" type="tdCFDI:t_FechaH"/><xs:attribute name="RfcProvCertif" use="required" type="tdCFDI:t_RFC_PM"/><xs:attribute name="Leyenda" use="optional"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:minLength value="12"/><xs:maxLength value="150"/><xs:pattern value="([A-Z]|[a-z]|[0-9]| |Ñ|ñ|!|&quot;|%|&amp;|'|´|-|:|;|&gt;|=|&lt;|@|_|,|\{|\}|`|~|á|é|í|ó|ú|Á|É|Í|Ó|Ú|ü|Ü){1,150}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="SelloCFD" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="NoCertificadoSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:length value="20"/><xs:whiteSpace value="collapse"/><xs:pattern value="[0-9]{20}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="SelloSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>