satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/donat/donat11.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:donat="http://www.sat.gob.mx/donat" targetNamespace="http://www.sat.gob.mx/donat" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Donatarias"><xs:complexType><xs:attribute name="version" type="xs:string" use="required" fixed="1.1"/><xs:attribute name="noAutorizacion" type="xs:string" use="required"/><xs:attribute name="fechaAutorizacion" type="xs:date" use="required"/><xs:attribute name="leyenda" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>