satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/implocal/implocal.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:implocal="http://www.sat.gob.mx/implocal" targetNamespace="http://www.sat.gob.mx/implocal" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="ImpuestosLocales"><xs:complexType><xs:sequence maxOccurs="unbounded"><xs:element name="RetencionesLocales" minOccurs="0"><xs:complexType><xs:attribute name="ImpLocRetenido" type="xs:string" use="required"/><xs:attribute name="TasadeRetencion" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Importe" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element><xs:element name="TrasladosLocales" minOccurs="0"><xs:complexType><xs:attribute name="ImpLocTrasladado" type="xs:string" use="required"/><xs:attribute name="TasadeTraslado" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Importe" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:sequence><xs:attribute name="version" use="required" fixed="1.0"/><xs:attribute name="TotaldeRetenciones" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="TotaldeTraslados" use="required"><xs:simpleType><xs:restriction base="xs:decimal"><xs:fractionDigits value="2"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>