satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/intereses/intereses.xsd

<xs:schema xmlns:intereses="http://www.sat.gob.mx/esquemas/retencionpago/1/intereses" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/intereses" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Intereses"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="SistFinanciero" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="RetiroAORESRetInt" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="OperFinancDerivad" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="MontIntNominal" type="intereses:t_Importe" use="required"/><xs:attribute name="MontIntReal" type="intereses:t_Importe" use="required"/><xs:attribute name="Perdida" type="intereses:t_Importe" use="required"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>