satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/enajenaciondeacciones/enajenaciondeacciones.xsd

<xs:schema xmlns:enajenaciondeacciones="http://www.sat.gob.mx/esquemas/retencionpago/1/enajenaciondeacciones" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/enajenaciondeacciones" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="EnajenaciondeAcciones"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="ContratoIntermediacion" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="300"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Ganancia" type="enajenaciondeacciones:t_Importe" use="required"/><xs:attribute name="Perdida" type="enajenaciondeacciones:t_Importe" use="required"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>