satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/timbrefiscaldigital/TimbreFiscalDigital.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tfd="http://www.sat.gob.mx/TimbreFiscalDigital" targetNamespace="http://www.sat.gob.mx/TimbreFiscalDigital" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="TimbreFiscalDigital"><xs:complexType><xs:attribute name="version" use="required" fixed="1.0"/><xs:attribute name="UUID" use="required" id="UUID"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:length value="36"/><xs:pattern value="[a-f0-9A-F]{8}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{4}-[a-f0-9A-F]{12}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="FechaTimbrado" use="required"><xs:simpleType><xs:restriction base="xs:dateTime"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="selloCFD" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="noCertificadoSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:length value="20"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="selloSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>