satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10/catalogos/CatPlataformasTecnologicas.xsd

<xs:schema xmlns:CatPlataformasTecnologicas="http://www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10/catalogos" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/PlataformasTecnologicas10/catalogos" elementFormDefault="unqualified" attributeFormDefault="unqualified"><xs:simpleType name="c_TipoDeServ"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="01"/><xs:enumeration value="02"/><xs:enumeration value="03"/><xs:enumeration value="04"/><xs:enumeration value="05"/><xs:enumeration value="06"/><xs:enumeration value="07"/><xs:enumeration value="08"/><xs:enumeration value="09"/></xs:restriction></xs:simpleType><xs:simpleType name="c_SubTipoServ"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="01"/><xs:enumeration value="02"/><xs:enumeration value="03"/><xs:enumeration value="04"/></xs:restriction></xs:simpleType><xs:simpleType name="c_TasaCuota"><xs:restriction base="xs:decimal"><xs:whiteSpace value="collapse"/><xs:enumeration value="0.160000"/><xs:enumeration value="0.080000"/><xs:enumeration value="0.000000"/></xs:restriction></xs:simpleType><xs:simpleType name="c_FormaPagoServ"><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="01"/><xs:enumeration value="02"/><xs:enumeration value="03"/><xs:enumeration value="04"/><xs:enumeration value="05"/><xs:enumeration value="06"/><xs:enumeration value="07"/><xs:enumeration value="08"/><xs:enumeration value="09"/></xs:restriction></xs:simpleType></xs:schema>