satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/pfic/pfic.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:pfic="http://www.sat.gob.mx/pfic" targetNamespace="http://www.sat.gob.mx/pfic" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="PFintegranteCoordinado"><xs:complexType><xs:attribute name="version" use="required" fixed="1.0"/><xs:attribute name="ClaveVehicular" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Placa" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="RFCPF" type="pfic:t_RFC" use="optional"/></xs:complexType></xs:element><xs:simpleType name="t_RFC"><xs:restriction base="xs:string"><xs:minLength value="12"/><xs:maxLength value="13"/><xs:whiteSpace value="collapse"/><xs:pattern value="[A-Z,Ñ,&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z,0-9]?[A-Z,0-9]?[0-9,A-Z]?"/></xs:restriction></xs:simpleType></xs:schema>