satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/premios/premios.xsd

<xs:schema xmlns:premios="http://www.sat.gob.mx/esquemas/retencionpago/1/premios" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:c_retenciones="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/premios" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:import namespace="http://www.sat.gob.mx/esquemas/retencionpago/1/catalogos" schemaLocation="../catalogos/catRetenciones.xsd"/><xs:element name="Premios"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="EntidadFederativa" type="c_retenciones:c_EntidadesFederativas" use="required"/><xs:attribute name="MontTotPago" type="premios:t_Importe" use="required"/><xs:attribute name="MontTotPagoGrav" type="premios:t_Importe" use="required"/><xs:attribute name="MontTotPagoExent" type="premios:t_Importe" use="required"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>