satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/hidrocarburospetroliferos.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hidrocarburospetroliferos="http://www.sat.gob.mx/hidrocarburospetroliferos" xmlns:catHidroYPetro="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/HidrocarburosPetro" targetNamespace="http://www.sat.gob.mx/hidrocarburospetroliferos" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:import namespace="http://www.sat.gob.mx/sitio_internet/cfd/catalogos/HidrocarburosPetro" schemaLocation="catalogos/HidrocarburosPetro/catHidroYPetro.xsd"/><xs:element name="HidroYPetro"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="TipoPermiso" type="catHidroYPetro:c_TipoPermiso" use="required"/><xs:attribute name="NumeroPermiso" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="15"/><xs:maxLength value="35"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="ClaveHYP" type="catHidroYPetro:c_ClaveHYP" use="required"/><xs:attribute name="SubProductoHYP" type="catHidroYPetro:c_SubProductoHYP" use="required"/></xs:complexType></xs:element></xs:schema>