satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/arrendamientoenfideicomiso/arrendamientoenfideicomiso.xsd

<xs:schema xmlns:arrendamientoenfideicomiso="http://www.sat.gob.mx/esquemas/retencionpago/1/arrendamientoenfideicomiso" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/arrendamientoenfideicomiso" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Arrendamientoenfideicomiso"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="PagProvEfecPorFiduc" type="arrendamientoenfideicomiso:t_Importe" use="required"/><xs:attribute name="RendimFideicom" type="arrendamientoenfideicomiso:t_Importe" use="required"/><xs:attribute name="DeduccCorresp" type="arrendamientoenfideicomiso:t_Importe" use="required"/><xs:attribute name="MontTotRet" type="arrendamientoenfideicomiso:t_Importe" use="optional"/><xs:attribute name="MontResFiscDistFibras" type="arrendamientoenfideicomiso:t_Importe" use="optional"/><xs:attribute name="MontOtrosConceptDistr" type="arrendamientoenfideicomiso:t_Importe" use="optional"/><xs:attribute name="DescrMontOtrosConceptDistr" type="xs:string" use="optional"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>