satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/leyendasFiscales/leyendasFisc.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:leyendasFisc="http://www.sat.gob.mx/leyendasFiscales" targetNamespace="http://www.sat.gob.mx/leyendasFiscales" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="LeyendasFiscales"><xs:complexType><xs:sequence><xs:element name="Leyenda" maxOccurs="unbounded"><xs:complexType><xs:attribute name="disposicionFiscal"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="norma"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="textoLeyenda" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:sequence><xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/></xs:complexType></xs:element></xs:schema>