satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/pagoenespecie/pagoenespecie.xsd

<xs:schema xmlns:pagoenespecie="http://www.sat.gob.mx/pagoenespecie" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/pagoenespecie" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="PagoEnEspecie"><xs:complexType><xs:attribute name="Version" type="xs:string" use="required" fixed="1.0"/><xs:attribute name="CvePIC" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:length value="25"/><xs:pattern value="[A-ZÑ&amp;]{3}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z0-9]?[A-Z0-9]?[0-9A-Z]-(18|19|20)\d\d(0[1-9]|1[012])(0[1-9]|[12][0-9]|3[01])-[0-9]{3}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="FolioSolDon" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:length value="11"/><xs:pattern value="PE-[0-9]{2}-[0-9]{5}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="PzaArtNombre" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="PzaArtTecn" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="PzaArtAProd" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="[0-9]{4}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="PzaArtDim" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>