satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/sectorfinanciero/sectorfinanciero.xsd

<xs:schema xmlns:sectorfinanciero="http://www.sat.gob.mx/esquemas/retencionpago/1/sectorfinanciero" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/sectorfinanciero" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="SectorFinanciero"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="IdFideicom" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="20"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="NomFideicom" use="optional"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="100"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="DescripFideicom" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="300"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>