satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/aerolineas/aerolineas.xsd

<xs:schema xmlns:aerolineas="http://www.sat.gob.mx/aerolineas" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/aerolineas" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Aerolineas"><xs:complexType><xs:sequence><xs:element name="OtrosCargos" minOccurs="0"><xs:complexType><xs:sequence><xs:element name="Cargo" maxOccurs="unbounded"><xs:complexType><xs:attribute name="CodigoCargo" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="8"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="Importe" type="aerolineas:t_Importe" use="required"/></xs:complexType></xs:element></xs:sequence><xs:attribute name="TotalCargos" type="aerolineas:t_Importe" use="required"/></xs:complexType></xs:element></xs:sequence><xs:attribute name="Version" type="xs:string" use="required" fixed="1.0"/><xs:attribute name="TUA" type="aerolineas:t_Importe" use="required"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>