satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/planesderetiro/planesderetiro.xsd

<xs:schema xmlns:planesderetiro="http://www.sat.gob.mx/esquemas/retencionpago/1/planesderetiro" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/planesderetiro" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Planesderetiro"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="SistemaFinanc" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="MontTotAportAnioInmAnterior" type="planesderetiro:t_Importe" use="optional"/><xs:attribute name="MontIntRealesDevengAniooInmAnt" type="planesderetiro:t_Importe" use="required"/><xs:attribute name="HuboRetirosAnioInmAntPer" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="MontTotRetiradoAnioInmAntPer" type="planesderetiro:t_Importe" use="optional"/><xs:attribute name="MontTotExentRetiradoAnioInmAnt" type="planesderetiro:t_Importe" use="optional"/><xs:attribute name="MontTotExedenteAnioInmAnt" type="planesderetiro:t_Importe" use="optional"/><xs:attribute name="HuboRetirosAnioInmAnt" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="MontTotRetiradoAnioInmAnt" type="planesderetiro:t_Importe" use="optional"/></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>