satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/divisas/divisas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:divisas="http://www.sat.gob.mx/divisas" targetNamespace="http://www.sat.gob.mx/divisas" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Divisas"><xs:complexType><xs:attribute name="version" type="xs:string" use="required" fixed="1.0"/><xs:attribute name="tipoOperacion" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:enumeration value="compra"/><xs:enumeration value="venta"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>