satcfdi/transform/schemas/www.sat.gob.mx/esquemas/retencionpago/1/intereseshipotecarios/intereseshipotecarios.xsd

<xs:schema xmlns:intereseshipotecarios="http://www.sat.gob.mx/esquemas/retencionpago/1/intereseshipotecarios" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/esquemas/retencionpago/1/intereseshipotecarios" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="Intereseshipotecarios"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.0"/><xs:attribute name="CreditoDeInstFinanc" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:enumeration value="SI"/><xs:enumeration value="NO"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="SaldoInsoluto" type="intereseshipotecarios:t_Importe" use="required"/><xs:attribute name="PropDeducDelCredit" type="intereseshipotecarios:t_Importe" use="optional"/><xs:attribute name="MontTotIntNominalesDev" type="intereseshipotecarios:t_Importe" use="optional"/><xs:attribute name="MontTotIntNominalesDevYPag" type="intereseshipotecarios:t_Importe" use="optional"/><xs:attribute name="MontTotIntRealPagDeduc" type="intereseshipotecarios:t_Importe" use="optional"/><xs:attribute name="NumContrato" use="optional"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="1"/><xs:maxLength value="300"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element><xs:simpleType name="t_Importe"><xs:restriction base="xs:decimal"><xs:fractionDigits value="6"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:schema>