satcfdi/transform/schemas/www.sat.gob.mx/esquemas/ContabilidadE/1_3/SelloDigitalContElec/SelloDigitalContElec.xsd

<xs:schema xmlns:sellodigital="www.sat.gob.mx/esquemas/ContabilidadE/1_1/SelloDigitalContElec" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="www.sat.gob.mx/esquemas/ContabilidadE/1_1/SelloDigitalContElec" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="SelloDigitalContElec"><xs:complexType><xs:attribute name="Version" use="required" fixed="1.1"/><xs:attribute name="Folio" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/><xs:pattern value="[0-9]{3}[1-5][0-9]{2}(01|02|03|04|05|06|07|08|09|10|11|12|13)[0-9]{14}"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="RFC" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:minLength value="12"/><xs:maxLength value="13"/><xs:whiteSpace value="collapse"/><xs:pattern value="[A-ZÑ&amp;]{3,4}[0-9]{2}[0-1][0-9][0-3][0-9][A-Z0-9]?[A-Z0-9]?[0-9A-Z]?"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="FechadeSello" use="required"><xs:simpleType><xs:restriction base="xs:dateTime"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="sello" use="optional"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="noCertificadoSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:length value="20"/><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute><xs:attribute name="selloSAT" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:whiteSpace value="collapse"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>