satcfdi/transform/schemas/www.sat.gob.mx/sitio_internet/cfd/cfdiregistrofiscal/cfdiregistrofiscal.xsd

<xs:schema xmlns:registrofiscal="http://www.sat.gob.mx/registrofiscal" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.sat.gob.mx/registrofiscal" elementFormDefault="qualified" attributeFormDefault="unqualified"><xs:element name="CFDIRegistroFiscal"><xs:complexType><xs:attribute name="Version" type="xs:string" use="required" fixed="1.0"/><xs:attribute name="Folio" use="required"><xs:simpleType><xs:restriction base="xs:string"><xs:pattern value="[0-9]{16}"/></xs:restriction></xs:simpleType></xs:attribute></xs:complexType></xs:element></xs:schema>